.desktop-education-container {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-bottom: 2rem;
    padding-left: 2rem;

    .education-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 2rem;
        

        .education-info {
            padding-top: 1rem;
            padding-left: 3rem;
            display: flex;
            flex-direction: column;
        }
        
        .education-info .period-background {
            border-radius: 1rem;
            background: #EBEBEB;
            padding: 0.7rem;
            width: 10rem;
            height: 2.7rem;
            text-align: center;
            font-weight: 700;
            
        }

        .education-info .degree-title {
            padding-top: 2rem;
            font-size: 1.7rem;
            font-weight: 800;
            color: #022c38;

        }

        .education-info .school-name {
            padding-top: 2rem;
            padding-left: 0.1rem;
            font-size: 1.5rem;
            font-weight: 600;
            color: #022c38;

        }
        
        .education-info .location {
            font-size: 1.5rem;
            font-weight: 600;
            color: #022c38;   
        }

        .education-info p {
            font-size: 1.5rem;
        } 

    }
}

.mdlg-education-container {
 
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-bottom: 2rem;
    padding-left: 2rem;
    //background-color: aqua;

    .education-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 1rem;
        

        .education-info {
            padding-top: 1rem;
            padding-left: 3rem;
            display: flex;
            flex-direction: column;
        }
        
        .education-info .period-background {
            border-radius: 1rem;
            background: #EBEBEB;
            padding: 0.3rem;
            width: 8rem;
            height: 1.6rem;
            text-align: center;
            font-weight: 700;
            
        }

        .education-info .degree-title {
            padding-top: 2rem;
            font-size: 1.3rem;
            font-weight: 800;
            color: #022c38;

        }

        .education-info .school-name {
            padding-top: 0.1rem;
            padding-left: 0.1rem;
            font-size: 1.3rem;
            font-weight: 600;
            color: #022c38;

        }
        
        .education-info .location {
            font-size: 1.3rem;
            font-weight: 600;
            color: #022c38;   
        }

        .education-info p {
            font-size: 1rem;
        } 

    }
}

.smsx-education-container {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-bottom: 2rem;
    padding-left: 2rem;

    .education-wrapper {
        //width: 100%;
        display: flex;
        flex-direction: column;
       
        
        .logo-period-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: flex-start;
            justify-content:flex-start;
        
            .period-background {
                border-radius: 1rem;
                background: #EBEBEB;
                padding: 0.3rem;
                margin-left: 3rem;
                width: 8rem;
                height: 1.6rem;
                font-size: 0.8rem;
                text-align: center;
                font-weight: 700;
            }
        }

        .education-info {
            padding: 1rem;
            padding-top: 1rem;
            padding-left: 0rem;
            display: flex;
            flex-direction: column;
        }

        .education-info .degree-title {
            padding-top: 0.5rem;
            font-size: 1.3rem;
            font-weight: 800;
            color: #022c38;
        }

        .education-info .school-name {
            padding-top: 0.3rem;
            padding-left: 0.1rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: #022c38;
        }
        
        .education-info .location {
            font-size: 1.3rem;
            padding-bottom: 0.5rem;
            font-weight: 600;
            color: #022c38;   
        }

        .education-info p {
            font-size: 1rem;
            padding-bottom: 2.5rem;
        }
    }
}
