.storyteller-desktop-bulletPoint {
   
    margin: auto;
    width: 70%;
        
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    align-items: top;
    justify-content: left;

    .bullet-point {
        padding-top: 1rem;
        
    }

    .text-paragraph {
        padding-left: 2rem;
        font-family: poppins;
        font-size: 2rem;
        font-weight: 400;
        color: #010A24; 
    }
    
}

.storyteller-lgmd-bulletPoint {
    margin: auto;
    width: 70%;
    padding-top: .8rem;
    display: flex;
    flex-direction: row;
    align-items: top;

    .bullet-point {
        padding-top: .5rem;
        
    }

    .text-paragraph {
        padding-left: 1rem;
        font-family: poppins;
        font-size: 1rem;
        font-weight: 400;
        color: #010A24; 
    }
}

.storyteller-xssm-bulletPoint {

    margin: auto;
    width: 80%;

    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    align-items: top;
    justify-content: left;

    .bullet-point {
        padding-top: .3rem;
        
    }
    .text-paragraph {
        padding-left: 1rem;
        font-family: poppins;
        font-size: 1rem;
        font-weight: 400;
        color: #010A24; 
    }

}