
.storyteller-laptop-paragraph-text {
    margin: auto;
    width: 85%;
    padding-top: 3rem;
    .text-paragraph {
        
        margin: auto;
        font-family: poppins;
        font-size: 2rem;
        font-weight: 400;
        color: #010A24;
    }    
}

.storyteller-lgmd-paragraph-text {
    margin: auto;
    width: 85%;
    padding-top: 2rem;
    .text-paragraph {
        font-family: poppins;
        font-size: 18px;
        font-weight: 400;
        color: #010A24;
    }
    
}

.storyteller-xsxm-paragraph-text {
    margin: auto;
    width: 80%;
    padding-top: 2rem;
    .text-paragraph {
        font-family: poppins;
        font-size: 1rem;
        font-weight: 400;
        color: #010A24;
    }
    
}   



