.desktop-subtitle-container {
    max-width: 2500px;
    margin: auto;

    .subtitle-paragraph {
        font-family: poppins;
        font-size: 2rem;
        font-weight: 600;
        color: #1D2D92;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }

}

.tablet-subtitle-container {
    max-width: 1366px;
    margin: auto;

    .subtitle-paragraph {
        font-family: poppins;
        font-size: 1rem;
        font-weight: 600;
        color: #1D2D92;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }
}

.mobile-subtitle-container {
    max-width: 428px;
    margin: auto;


    .subtitle-paragraph {
        font-family: poppins;
        font-size: 1rem;
        font-weight: 600;
        color: #1D2D92;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }
}