.desktop-subtitle2-container {

    margin: auto;
    padding-top: 10rem;
    padding-bottom: 1.5rem;

    .subtitle-paragraph {
        font-family: poppins;
        font-size: 2rem;
        font-weight: 600;
        color: #040B35;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }

}

.lgmd-subtitle2-container {
    max-width: 1366px;
    margin: auto;

    .subtitle-paragraph {
        font-family: poppins;
        font-size: 1.4rem;
        font-weight: 600;
        color: #040B35;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }
}

.xssm-subtitle2-container {
    max-width: 428px;
    margin: auto;


    .subtitle-paragraph {
        font-family: poppins;
        font-size: 1.2rem;
        font-weight: 600;
        color: #040B35;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }
}