.storyteller-team-container-desktop  {

    margin: auto;
    width: 80%;
    
    .team-title {
        font-family: poppins;
        font-size: 3rem;
        font-weight: 600;
        color: #010A24;
        text-align: center;
        padding-bottom: 3rem;
    }

    .row_team {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: top;

        .column-content {
            width: 40%;
            padding-bottom: 2rem;
            .member-name-left {
                padding-right: 1rem;
                text-align: right;
                padding-top: 1rem;
                font-family: poppins;
                font-size: 2rem;
                font-weight: 600;
                color: #010A24;
            }
            .member-title-left {
                padding-right: 1rem;
                text-align: right;
                font-family: poppins;
                font-size: 2rem;
                font-weight: 400;
                color: #010A24;
            }

            .member-name-right {
                padding-left: 1rem;
                text-align: left;
                padding-top: 1rem;
                font-family: poppins;
                font-size: 2rem;
                font-weight: 600;
                color: #010A24;
            }

            .member-title-right {
                padding-left: 1rem;
                text-align: left;
                font-family: poppins;
                font-size: 2rem;
                font-weight: 400;
                color: #010A24;
            }
        }
    }
}


.storyteller-team-container-mdlg  {
    margin: auto;
    width: 80%;
    
    .team-title {
        font-family: poppins;
        font-size: 1.5rem;
        font-weight: 600;
        color: #1D2D92;
        text-align: center;
        padding-bottom: 3rem;
    }

    .row_team {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: top;

        .column-content {
            width: 40%;
            .member-name-left {
                padding-right: 1rem;
                text-align: right;
                padding-top: 1.1rem;
                font-family: poppins;
                font-size: 1rem;
                font-weight: 600;
                color: #1D2D92;
            }
            .member-title-left {
                padding-right: 1rem;
                text-align: right;
              
                font-family: poppins;
                font-size: 1rem;
                font-weight: 400;
                color: #000000;
            }

            .member-name-right {
                padding-left: 1rem;
                text-align: left;
                padding-top: 1rem;
                font-family: poppins;
                font-size: 1.1rem;
                font-weight: 600;
                color: #1D2D92;
            }

            .member-title-right {
                padding-left: 1rem;
                text-align: left;
             
                font-family: poppins;
                font-size: 1rem;
                font-weight: 400;
                color: #000000;
            }
        }
    }

    .team-content {      
        margin: auto;
        // width: 60%;

        .row_team {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: top;
            
            .column-content {
                width: 50%;
                .member-name {
                    font-family: poppins;
                    font-size: 1rem;
                    font-weight: 400;
                    color: #050505;
                    text-align: left;
                }
    
                .member-role { 
                    font-family: poppins;
                    font-size: 1rem;
                    font-weight: 400;
                    color: #050505;
                    text-align: left;
                    
                }
            }
        }
    }

}

.storyteller-team-container-mobile  {
    max-width: 428px;
    margin: auto;

    .team-title {
        font-family: poppins;
        font-size: 1.5rem;
        font-weight: 600;
        color: #1D2D92;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
       
    .team-content {      
        margin: auto;
        width: 90%;

        .team-member {
            display: flex;
            flex-direction: row;
            align-content: start;
            justify-content: space-around;
            
            margin: auto;
          
            .member-name {
                font-family: poppins;
                font-size: .8rem;
                font-weight: 400;
                color: #050505;
                text-align: left;
            }

            .member-role {
              
                font-family: poppins;
                font-size: .8rem;
                font-weight: 400;
                color: #050505;
                text-align: left;
                
            }
        }
    }
}
