.storyteller-laptop-paragraph-title {
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 20px;
    width: 80%;

    .title-paragraph {
        font-family: poppins;
        font-size: 3rem;
        font-weight: 600;
        color: #040B35;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }

}

.storyteller-lgmd-paragraph-title {
    margin: auto;
    width: 60%;
    .title-paragraph {
        font-family: poppins;
        font-size: 1.8rem;
        font-weight: 600;
        color: #040B35;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }
}

.storyteller-xsxm-paragraph-title {
    margin: auto;
    width: 80%;

    .title-paragraph {
        font-family: poppins;
        font-size: 1.5rem;
        font-weight: 600;
        color: #040B35;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }
}
