.storyteller-desktop-title-container {
    padding-top: 60px;
    padding-bottom: 20px;
    margin: auto;
    max-width: 2500px;

    .title-paragraph {
        font-family: poppins;
        font-size: 3rem;
        font-weight: 600;
        color: #1D2D92;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: left;
    }

}

.storyteller-tablet-title-container {
    padding-top: 60px;
    padding-bottom: 15px;
    margin-left: 15%;
    margin-right: 15%;

    .title-paragraph {
        font-family: poppins;
        font-size: 24px;
        font-weight: 600;
        color: #1D2D92;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: left;
    }
}

.storyteller-mobile-title-container {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;

    .title-paragraph {
        font-family: poppins;
        font-size: 1.5rem;
        font-weight: 600;
        color: #1D2D92;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }
}