.persona-desktop-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 8%;
    margin-right: 8%;
    max-width: 2600px;
    
    .persona-img {
        display: flex;
        align-items: center;
        justify-content: center;
      
    }

    .persona-content {
        display: flex;
        flex-direction: column;
        

        .persona-title {
            // background-color:cadetblue;
            padding-top: 1rem;
            padding-left: 10rem;
            padding-bottom: 1rem;
            text-align: left;
            font-family: poppins;
            font-size: 2rem;
            font-weight: 400;
            color: #1D2D92;
        }
    
        .persona-description {
            // background-color: aqua;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-family: poppins;
            font-size: 1rem;
            font-weight: 400;
            text-align: left;
            color: #1D2D92;
        }
    }
}

.persona-tablet-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;

    .persona-content {
        display: flex;
        flex-direction: column;

        .persona-title {
            // background-color:cadetblue;
            padding-top: 1rem;
            padding-left: 5rem;
            padding-bottom: 1rem;
            text-align: left;
            font-family: poppins;
            font-size: 1.2rem;
            font-weight: 400;
            color: #1D2D92;
        }
    
        .persona-description {
            // background-color: aqua;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-family: poppins;
            font-size: 1rem;
            font-weight: 400;
            text-align: left;
            color: #1D2D92;
        }
    }
}

.persona-mobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .persona-title {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        text-align: center;
        font-family: poppins;
        font-size: 1.2rem;
        font-weight: 400;
        color: #1D2D92;
    }

    .persona-description {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        text-align: center;
        font-family: poppins;
        font-size: 1rem;
        font-weight: 400;
        color: #1D2D92;
    }
}