.desktop-wireframe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 5rem;
    background-color: bisque;
    max-width: 2600px;
    
    .image-container {
        width: 80%;
        text-align: center;
        padding-bottom: 2rem;
    }


    .wireframe-image {
       text-align: center;

    }

    .wireframe-title {
        padding-bottom: 2rem;
        font-family: poppins;
        font-size: 2rem;
        font-weight: 500;
        color: #000000;
    }

    .zoom-button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .zoom-tools {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
     
        .tool-button {
            padding: 1rem;
        }
    }
}

.tablet-wireframe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 5rem;

    .image-container {
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
    }

    .wireframe-title {
        font-family: poppins;
        font-size: 1rem;
        font-weight: 500;
        color: #000000;
    }

    .zoom-tools {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.mobile-wireframe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 5rem;

    .image-container {
        width: 80%;
        text-align: center;
        padding-bottom: 2rem;
    }

    .wireframe-title {
        font-family: poppins;
        font-size: 1rem;
        font-weight: 500;
        color: #000000;
        padding-bottom: 1.5rem;
    }

    .zoom-tools {
        padding-top: 1rem;
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }
}