@import "../../scss/variables.scss";

.main_menu {
    ul {
        li {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

// Header area css
.header_area{
	position: relative;
	
	.menu_icon {
		cursor: pointer;
	}

    .site_menu {
        // background-color: aqua;

        @media #{$xs}{
			display: none;
		}
		@media #{$sm}{
			display: none;
		}

        .primary_menu{
			float: right;
            
            .main_menu{
                ul {
                    li {
                        position: relative;
						display: inline-block;
						margin-left: 40px;
        
                        a {
                            display: block;
							padding: 17px 0;
							color: #76787b;
							font-weight: 600;
							position: relative;
							@media #{$desktop}{
								font-size: 1rem;
							}
                        }

                    }	
                    &:hover{
                        & ul.sub-menu{
                            transform:(scale(1));
                            visibility: visible;
                            opacity: 1;
                            box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
                        }
                    }
                }
                .active_link{
					text-decoration: none; 
                    &:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 20px;
                        width: 100%;
                        height: 3px;
                        background: $theme_color;
                    }
                }
            
            }

          
        }


    }

	& .mobile_wrapper{
		display: none;
		@media #{$md}{
			padding: 8px 0;
			display: block;
		}
		@media #{$lg}{
			padding: 10px 0;
			display: block;
		}

		@media #{$desktop}{
			padding: 10px 0;
			display: block;
		}

		@media #{$laptop}{
			padding: 10px 0;
			display: block;
		}


		& .menu_button{
			float: right;

			& .menu_icon{
				& span{
					display: block;
					width: 30px;
					height: 3px;
					background-color: $mobile_hamburger_color;
					margin: 6px 0 2px;
					transition:.5s;
					&:nth-child(1){
						margin-top: 0;
					}
					&:nth-child(3){
						width: 15px;
						margin-bottom: 0;
					}
				}
			}
			& .active{
				& span{
					&:nth-child(1){
						width: 15px;
					}
					&:nth-child(3){
						width: 30px;
					}
				}
			}
		}
	}
	& .sidenav_menu{
		overflow: hidden;
	    width: 80%;
	    height: 100%;
	    position: fixed;
	    top: 0;
	   	left: 0;
	    padding: 110px 30px;
	    z-index: 9999;
	    background: #222d32;
	    opacity: .9;
	    overflow: auto;
	    transform: translateX(-100%);
	    transition: .5s;
	    & .close_icon{
	    	position: absolute;
	    	top: 0;
	    	right: 0;
	    	.close_btn{
	    		display: block;
	    		width: 40px;
	    		height: 40px;
	    		line-height: 40px;
	    		text-align:center;
	    		background-color: $white;
	    		color: $theme_color;
	    	}
	    }
	    & .sidebar-menu{
	    	& li{
	    		display: block;
	    		line-height: 40px;
	    		& a{
	    			text-transform: capitalize;
	    			color: $sidebar_text_color;
	    			font-size: $sidebar_font-size;
					font-weight: 500;
					&.active_link {
						color: $theme_color;
					}
					&.deneb_btn {
						&:hover {
							color: $white;
						}
						&:focus {
							color: $white;
						}
					}
	    			&:hover,
	    			&:focus{
	    				color: $theme_color;
	    			}
	    			& .deneb_btn{
		    			padding: 0;
		    		}
	    		}
	    	}
	    	& .active{
				a{
					color: $theme_color;
				}
			}
	    }
	}
	& .active{
		transform:translateX(0);
	}
}
// transparent Header
.transparent_header{
    // background-color: aqua;
	position: absolute;
	top: 33px;
	left: 0;
	width: 100%;
	z-index: 337;
}
// sticky_header
.header_area.sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $white;
	z-index: 337;
	box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
	.site_menu{
		padding: 10px 0;
	}
}