@import "../../../scss/variables.scss";

@media #{$laptop}{
   
    .background-section-container {
        margin: 6rem;
        max-width: 1400px;
        display: flex;
        justify-content: center;
    }

    .background-section-container .background-section {
       margin-top: 10rem;
       margin-left: 5rem;
       margin-bottom: 50px;
   
       .section-title {
          margin-bottom: 50px;
          font-family: $defaultFont;
       }
 
      .section-title-label {
          margin-bottom: 30px;
          font-weight: 800;
          font-size: 2.1rem;
          color: #074C5F;
          font-family: $defaultFont;
       } 
   }
}

@media #{$lg}, #{$md} {

    .background-section-container {
        margin: 5rem;
    }

    .background-section-container .background-section {
       // margin-top: 20px;
       // margin-left: 15px;
       // margin-bottom: 30px;
        //background-color: aqua;
       .section-title {
           margin-bottom: 60px;
           font-family: $defaultFont;
       }
 
       .section-title-label {
           margin-bottom: 30px;
           font-weight: 700;
           font-size: 1.8rem;
           color: #074C5F;
           font-family: $defaultFont;
        }
    }
}
 
@media #{$sm}, #{$xs} {
    .background-section {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        .section-title {
            margin-bottom: 40px;
            
        }
 
        .section-title-label {
            margin-bottom: 30px;
            font-weight: 800;
            font-size: 1.7rem;
            color: #074C5F;
            
            font-family: $defaultFont;
         }
   }
}
 