@import "../../../scss/variables.scss";

@media #{$xs}, #{sm} {
	
	.main-baner-area {
		display: flex;
		align-content: space-evenly;
		text-align: center;
		position: relative;	
		flex-direction: row;
		margin-top: 90px;
		.aae-banner {
			top: 10%;
			padding: 10px 0;

			.banner-photo { 
				display: block;
			}
	
			#banner-image-dimension {
				width: 70%;
				height: auto;
			}
	
			.heading-info {
				position: relative;
				text-align: center;
				margin-top: 0.5rem;
				z-index: 3;
			
                .sphere-shape {
                    position: absolute;
                    top: 30%;
                    float: left;
                    width: 200px;
                    height: 200px;
                    margin: 20px;
                    margin: -20px;
                    shape-outside: circle(50% at 30%);
                    clip-path: circle(50% at 10%);
                    background-image: linear-gradient( #FCD561, #A0B6CC);
                    opacity: 30%;
                }	

				.heading-primary-intro {
					display: block;
					font-size: 1.5rem;
					color: #011114;
                    
				}
				
				.heading-primary-main {
					display: block;
					margin: 1rem;
                    font-size: 1.5rem;
					font-weight: 700;
					color: #074C5F;
				}
	
				.heading-primary-sub {
					margin: 1rem;
                    text-align: left;
					display: block;
					font-size: 1.2rem;
					color: #011114;
                    text-align: center;
				}

				.contact-area {
					display: block;
                    margin: 2rem;
				}
			}
		}
	}
}

@media #{$md}, #{$lg} {
	.main-baner-area {
		//background-color: green;
		text-align: center;
		
		.sphere-shape {
			position: absolute;
			top: 13%;
			float: left;
			width: 380px;
			height: 380px;
			margin-left: -70px;
			shape-outside: circle(50% at 30%);
			clip-path: circle(50% at 30%);
			background-image: linear-gradient( #FCD561, #A0B6CC);
			opacity: 30%;
		}	

		.aae-banner {
			position: relative;		
			display: flex;
			flex-direction: row-reverse;
			width: 100%;
			position: relative;
			align-content: space-evenly;
			margin-left: 25px;
			
	
			.banner-photo { 
				display: block;
				margin-top: 130px;
				width: 490px;
			}
	
			#banner-image-dimension {
				width: 85%;
				height: auto;
			}
	
			.heading-info {
				//background-color: #9bc850;
				display: block;
				position: relative;
				text-align: left;
				width: 50%;
				margin-top: 20%;
				z-index: 3;


			
				.heading-primary-intro {
					display: block;
					font-size: 18px;
					margin-bottom: 1rem;
					
				}
				
				.heading-primary-main {
					display: block;
					font-size: 33px;
					font-weight: 800;
					margin-bottom: 35px;
					color: #074C5F;
				}
	
				.heading-primary-sub {
					//padding: 35px;
					text-align: left;
					display: block;
					font-size: 18px;
					width: 85%;				
				}
			}
		}
		
	}	
}


// High Resolution Tablets - Ipad portrait position 
@media #{$lg}{
	.main-baner-area {	
		margin-top: 100px;
		top: 10%;
		position: relative;

		.contact-area {
			top: -20%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 120px;
		}
		
		.sphere-shape {
			position: absolute;
			top: 23%;
			float: left;
			width: 280px;
			height: 280px;
			margin-left: -70px;
			shape-outside: circle(50% at 30%);
			clip-path: circle(50% at 30%);
			background-image: linear-gradient( #FCD561, #A0B6CC);
			opacity: 30%;
		}	

		.aae-banner {
			position: absolute;	
	
			display: flex;
			flex-direction: row-reverse;
			width: 100%;
			position: relative;
			align-content: space-evenly;
			margin-left: 25px;
			
	
			.banner-photo { 
				display: block;
				margin-top: 30px;
				width: 490px;
			}
	
			#banner-image-dimension {
				width: 100%;
				height: auto;
			}
	
			.heading-info {
				//background-color: #9bc850;
				display: block;
				//position: relative;
				text-align: left;
				width: 50%;
				margin-top: 5%;
				margin-bottom: 1rem;
				z-index: 3;

				.heading-primary-intro {
					display: block;
					font-size: 18px;
					margin-bottom: 1px;
					
				}
				
				.heading-primary-main {
					display: block;
					font-size: 33px;
					font-weight: 800;
					margin-bottom: 35px;
					color: #074C5F;
				}
	
				.heading-primary-sub {
					//padding: 35px;
					text-align: left;
					display: block;
					font-size: 18px;
					width: 85%;				
				}
			}
		}
		
	}	
}


// Desktop size
@media #{$laptop}{
	.main-baner-area {
		text-align: center;
		margin-top: 100px;
		top: 12%;
		background-color: aqua;
		
		.contact-area {
			top: -10%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 120px;
		}
		
	
		
		.aae-banner {
			position: relative;	
			top: 10%;
			display: flex;
			flex-direction: row-reverse;
			//width: 90%;
			// position: relative;
			justify-content: center;
			
			//margin-left: 1%;

			#banner-image-dimension {
				width: 100%;
				height: auto;
				margin-left: 3rem;
			}

			.banner-photo { 
				display: block;
				margin-top: 5rem;
				width: 490px;
			}

			.heading-info {
				z-index: 8;
				// display: block;
				position: relative;
				text-align:left;
				margin-top: 100px;
				margin-bottom: 1rem;
				// width: 70%;
				display: block;
				min-width: 500px;
				max-width: 500px;
				z-index: 9;

				float: left;
			
				.sphere-shape {
					position: absolute;
					top: 5%;
					left: 1%;
					///float: left;
					width: 380px;
					height: 380px;
					margin-left: -20%;
					z-index: -1;
					clip-path: circle(30% at 30%);
					background-image: linear-gradient( #FCD561, #A0B6CC);
					opacity: 100%;
				}

				.heading-primary-intro {
					
					display: block;
					font-size: 1.5rem;
					font-weight: 500;
					margin-bottom: 2rem;	
					color: #03252e;
				}
				
				.heading-primary-main {
					display: block;
					font-size: 2.2rem;
					font-weight: 800;
					margin-bottom: 2rem;
					color: #074C5F;
				}
	
				.heading-primary-sub {
					padding: 5px;
					text-align: left;
					display: block;
					font-size: 1.5rem;
					font-weight: 500;
					color: #03252e;
				}

				
			}
		}
	}
}


@media #{$desktop} {
	.main-baner-area {
		text-align: center;
		margin-top: 100px;
		top: 12%;


		.contact-area {
			display: flex;
			top: -20%;
			position: relative;
			// background-color: #074C5F;
			justify-content: center;
			align-items: center;
			margin-top: 120px;
		}

		.sphere-shape {
			position: absolute;
			top: 25%;
			left: 1%;
			///float: left;
			width: 380px;
			height: 380px;
			margin-left: 8%;

			clip-path: circle(30% at 30%);
			background-image: linear-gradient( #FCD561, #A0B6CC);
			opacity: 30%;
		}
		
		.aae-banner {
			position: relative;	
			top: 10%;
			display: flex;
			flex-direction: row-reverse;
			//width: 90%;
			// position: relative;
			justify-content: center;
		
			//margin-left: 1%;

			#banner-image-dimension {
				width: 100%;
				height: auto;
			}

			.banner-photo { 
				display: block;
				margin-top: 30px;
				width: 490px;
			}

			.heading-info {
				
				// display: block;
				position: relative;
				text-align:left;
				margin-top: 100px;
				margin-bottom: 1rem;
				// width: 70%;
				display: block;
				min-width: 500px;
				max-width: 500px;
				z-index: 3;

				float: left;
			
				.heading-primary-intro {
					
					display: block;
					font-size: 18px;
					margin-bottom: 25px;	
				}
				
				.heading-primary-main {
					display: block;
					font-size: 33px;
					font-weight: 800;
					margin-bottom: 5px;
					color: #074C5F;
				}
	
				.heading-primary-sub {
					padding: 5px;
					text-align: left;
					display: block;
					font-size: 18px;
				}

				
			}
		}
	}
}
