$font1: 'Poppins', sans-serif;
$font2: 'Montserrat', sans-serif;

$sidebar_text_color: #fff;
$sidebar_font-size: 26px;
$white: #fff;
$text: #7a808d;
$title: #011a3e;

$mobile_hamburger_color: #074C5F;

$theme_color: #feb000;

// Responsive Variables
$laptop: 'only screen and (min-width: 1200px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';