@import "../../../scss/variables.scss";

@media #{$xs} {
    .background-title {
        text-align: center;   
        .background-title-label {
            margin-bottom: 30px;
            font-weight: 500;
            font-size: 18px;
            color: #074C5F;
            
        }
    }
}

@media #{$sm} {
    .background-title {
        text-align: center;   
        .background-title-label {
            margin-bottom: 30px;
            font-weight: 500;
            font-size: 16px;
            color: #074C5F;
            
        }
    }
}

@media #{$md} {
    .background-title {
        text-align: center;   
        .background-title-label {
            margin-bottom: 30px;
            font-weight: 500;
            font-size: 16px;
            color: #074C5F;
            
        }
    }
}

@media #{$lg} {
    .background-title {
        text-align: center;   
        .background-title-label {
            margin-bottom: 30px;
            font-weight: 500;
            font-size: 20px;
            color: #074C5F;
            
        }
    }
}

@media #{$laptop} {
    .background-title {
        text-align: center;   
        .background-title-label {
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 20px;
            color: #074C5F;
            
        }
    }
}