@import "../../../scss/variables.scss";

@media #{$xs} {
    .card-media-img {
        height: 71px;
        width: 71px;
        align-items: center;
    }

    .background-card-typography {
        font-size: 1.5rem;
    }
}

@media #{$sm} {
    .card-media-img {
        height: 110px;
        width: 110px;
        align-items: center;
    }
}

@media #{$md} {
    .card-media-img {
        height: 85px;
        width: 85px;
        align-items: center;
    }
}

@media #{$lg} {
    .card-media-img {
        height: 110px;
        width: 110px;
        align-items: center;
    }
}

@media #{$laptop} {
    .card-media-img {
        height: 110px;
        width: 110px;
        align-items: center;
    }
}